doctype html
html
  head
    meta(charset = 'utf-8')
    title Think or die
    script(src = polyfillUrl)
    script(src = appJs)
    link(
      rel = 'stylesheet'
      type = 'text/css'
      href = '//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic-ext'
    )
    link(
      rel = 'stylesheet'
      type = 'text/css'
      href = appCss
    )
  body
    header.Header
      p.Header-Score
        span.Header-ScoreLabel Очки:
        span.Header-ScoreValue 0
      p.Header-Toolbar
        button.Button.Button--repeat(type='button') Начать заново
    main.PlayField
      article.PlayField-Modal.PlayField-Modal--off
        p.PlayField-Message Game Over
        button.Button.Button--ok(type='button') Ok

      - let rowIndex = 0;

      while rowIndex < appConfig.fieldSize
        - let columnIndex = 0;

        while columnIndex < appConfig.fieldSize
          -
            let elementClass = 'PlayField-Place';
            let classes = [
              `${elementClass}--row-${rowIndex}`,
              `${elementClass}--column-${columnIndex}`,
            ];

          .PlayField-Place(class = classes)

          - columnIndex++;

        - rowIndex++;
