body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  background: #eee;

  font-family: 'Open Sans Condensed';
  font-size: 30px;
  font-weight: 300;
  font-style: normal;

  align-items: center;
  justify-content: center;
}

@border-radius: 3px;

@field-border-radius: 2px;

@field-size: 400px;
@margin-per-place: 5px;

@place-size: @field-size / 4 - @margin-per-place * 2;

@box-border-radius: 3px;

.Header {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  width: @field-size - 6px;

  align-items: baseline;
  justify-content: space-between;

  &-Score {
    width: 50%;
  }

  &-ScoreLabel {
    //
  }

  &-ScoreValue {
    margin-left: .3em;

    font-weight: 700;
  }

  &-Toolbar {
    width: 50%;

    text-align: right;
  }
}

.PlayField {
  position: relative;
  z-index: 1;

  display: inline-flex;

  width: @field-size;
  height: @field-size;
  padding: 15px;

  border-radius: @field-border-radius;
  background: #fff;
  box-shadow: 0 3px 30px rgba(0, 0, 0, .14);

  flex-wrap: wrap;

  &-Modal {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    border-radius: @field-border-radius;
    background: rgba(255, 255, 255, .87);

    align-items: center;
    justify-content: center;

    &--off {
      display: none;
    }
  }

  &-Message {
    margin: 15px;

    font-size: 2em;
  }

  &-Place {
    position: relative;
    z-index: 2;

    box-sizing: border-box;
    width: @place-size;
    height: @place-size;
    margin: @margin-per-place;

    border-radius: @box-border-radius;
    background: #eee;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
  }

  &-Box {
    position: absolute;
    z-index: 3;

    box-sizing: border-box;
    width: @place-size;
    height: @place-size;

    cursor: default;
    transition-duration: 200ms;
    transition-property: left, top, opacity, width, height;
    text-align: center;

    border-radius: @box-border-radius;
    background: #f95;

    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: @place-size;

    &--inMove {
      z-index: 4;
    }

    &--hidden {
      opacity: 0;
    }

    &--number-2 {
      background: #18df00;
    }

    &--number-4 {
      background: #5a9900;
    }

    &--number-8 {
      background: #8c8e00;
    }

    &--number-16 {
      background: #d38200;
    }

    &--number-32 {
      background: #ae3900;
    }

    &--number-64 {
      background: #931269;
    }

    &--number-128 {
      background: #7068c3;
    }
  }
}
