* {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;
  -o-user-select: none;
}
